@use '../../../assets/styles/variables';

.wrapper {
	position: relative;
}

.button {
	width: 60px;
	height: 60px;
}

.menu {
	position: absolute;
	background-color: #fff;
	color: variables.$accent-dark;
	top: calc(100% + 8px);
	right: 0;
	padding: 10px 12px;
	font-size: variables.$fs;
	box-shadow: variables.$bx;
	border-radius: 10px 0 10px 10px;
	min-width: 116px;
	animation: opacity 1s;
}
