@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	src: url(./JosefinSans-Regular.ttf) format('ttf');
}

@font-face {
	font-family: 'Josefin Sans';
	font-style: bold;
	font-weight: 600;
	src: url(./JosefinSans-Bold.ttf) format('ttf');
}

@font-face {
	font-family: 'Josefin Sans';
	font-style: italic;
	font-weight: 400;
	src: url(./JosefinSans-Italic.ttf) format('ttf');
}
