@import '../../../../assets/styles/variables';

.arrow {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;
}

// .change {
// 	display: flex;
// 	gap: 15px;
// 	@media (max-width: 768px) {
// 		// display: none;
// 	}
// }
