@use '../../../../assets/styles/variables';

.arrow {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;
	@media (max-width: 900px) {
		flex-direction: column-reverse;
		gap: 5px;
	}
}

.button {
	width: 30px;
	height: 30px;
	background-color: variables.$accent-light;
	@media (max-width: 900px) {
		border: 1px solid variables.$accent-dark;
	}
}
