.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 10px;
}

.li {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: center;
}

.heading {
	text-align: center;
	text-transform: uppercase;
	font-size: clamp(3.75rem, 2.8554rem + 3.9761vw, 6.25rem);
}

.close {
	padding: 0;
	width: 30px;
	height: 30px;
	align-self: center;
}

.add {
	padding: 0;
	width: 120px;
	height: 60px;
	font-size: 20px;
}

.input {
	width: 220px;
}
