@import '../../assets/styles/variables';

.p {
	margin-left: 50px;
	font-size: 30px;
	word-break: break-all;
}

.checkbox {
	display: none;
}

.span {
	width: 30px;
	height: 30px;
	background-color: $accent-light;
	position: absolute;
	margin-top: 22px;
	// margin-right: 5px;
}

// .checkbox:checked + .checkbox_span::before {
// 	content: 'ff';
// 	width: 10px;
// 	height: 10px;
// 	// position: absolute;
// 	background-color: azure;
// }
