@import './assets/styles/variables';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	&:focus {
		outline: none;
	}

	font-family: $default-font;
	letter-spacing: 0.5px;
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

html,
body {
	height: 100%;
}

body {
	margin: auto;
	background-color: $accent-dark;
	padding: 50px;
	color: $accent-light;
	font-size: 40px;
	max-width: 1800px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	text-align: center;
}

ul {
	list-style: none;
}
