@import '../../../../assets/styles/variables';

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: $padding;
}

.add {
	font-size: $fs;
	border-radius: 30px;
	background-color: $accent-light;
	text-transform: capitalize;
	min-width: 116px;
	margin-left: -116px;
	height: 64px;
	@media (max-width: 768px) {
		background-color: $accent-dark;
		color: $accent-light;
		font-size: 20px;
		min-width: 80px;
		margin-left: -80px;
		padding: 20px;
	}
}

.input {
	border: 0;
	border-radius: 30px;
	max-width: 834px;
	width: 61vw;
	height: 64px;
	padding: 10px;
	border: 1px solid $accent-dark;
}
