@use '../../../../assets/styles/variables';

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: variables.$padding;
}

.add {
	font-size: variables.$fs;
	border-radius: 30px;
	background-color: variables.$accent-light;
	text-transform: capitalize;
	min-width: 116px;
	margin-left: -116px;
	height: 64px;
	@media (max-width: 768px) {
		background-color: variables.$accent-dark;
		color: variables.$accent-light;
		font-size: 20px;
		min-width: 80px;
		margin-left: -80px;
		padding: 20px;
	}
}

.input {
	border: 1px solid variables.$accent-light;
	border-radius: 30px;
	max-width: 834px;
	width: 70vw;
	height: 64px;
	padding: 10px;
	font-size: variables.$fs;
	color: variables.$accent-dark;
	text-transform: capitalize;
	@media (max-width: 768px) {
		width: 80vw;
		background-color: variables.$accent-dark;
		border: 1px solid variables.$accent-dark;
		color: #fff;
	}
}

::placeholder {
	font-size: 14px;
}
