@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $default-font;
	letter-spacing: 0.5px;
}

html,
body {
	height: 100%;
}

body {
	margin: 0 auto;
	background-color: $accent-dark;
	color: $accent-light;
	font-size: 40px;
	max-width: 1366px;
	min-width: 360px;
	line-height: 1.65;
	overflow-x: hidden;
	@media (max-width: 768px) {
		background-color: $accent-light;
	}
}

ul {
	list-style: none;
}

button {
	border: 0;
	background-color: #fff;
	font-size: $fs;
	color: $accent-dark;
	cursor: pointer;
}
