.wrapper {
	padding: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.li {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
}

.il {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 40px;
}

.circle {
	width: 64px;
	height: 64px;
}

// input {
// 	accent-color: #adefd1;
// 	width: 60px;
// 	height: 60px;
// }

.close {
	padding: 0;
	width: 30px;
	height: 30px;
	align-self: center;
}

.add {
	padding: 0;
	width: 120px;
	height: 60px;
	font-size: 20px;
}

.input {
	width: 220px;
}
